<section class="hero">
  <div class="hero__left-container">
    <p class="hero-subtitle">Welcome to {{title}}</p>
    <h1>Elevate your brand with Me</h1>
    <p class="hero-description">{{description}}</p>
    <a class="button">
      <span class="button__text">Get Started</span>
    </a>
  </div>
  <div class="hero__right-container">
    <img class="inner-img-bg" src="/assets/img/bgsvg.svg" alt="bg" />
    <picture>
      <source srcset="/assets/img/dog.webp" type="image/webp" />
      <img class="inner-img" src="/assets/img/dog.png" alt="dog" />
    </picture>
  </div>
  <div class="hero__partners-container">
    <img class="client" src="/assets/img/logos/1.svg" alt="client" />
    <img class="client" src="/assets/img/logos/2.svg" alt="client" />
    <img class="client" src="/assets/img/logos/3.svg" alt="client" />
    <img class="client" src="/assets/img/logos/4.svg" alt="client" />
  </div>
</section>
