<section class="hero">
  <div class="hero__left-container">
    <p class="hero-subtitle">Welcome to {{title}}</p>
    <h1>Elevate your brand with Me</h1>
    <p class="hero-description">{{description}}</p>
    <a class="button">
      <span class="button__text">Get Started</span>
    </a>
  </div>
  <div class="hero__right-container">
    <img class="inner-img-bg" src="/assets/img/bgsvg.svg" alt="bg" />
    <img class="inner-img" src="/assets/img/dog.png" alt="dog" />
  </div>
  <div class="hero__partners-container"></div>
</section>
