header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: $s * 2;
  padding-bottom: $s * 2;
  z-index: 999;

  .header__left-part {
    display: flex;
    align-items: center;
    grid-gap: $s * 2;
    flex-grow: 1;

    .full-logo {
      display: flex;
      align-items: center;
      height: $s * 6;
      grid-gap: $s * 1.5;

      img {
        height: 100%;
        width: auto;
      }

      span {
        font-size: $s * 3;
        font-weight: bold;
        color: $black;
      }
    }

    @include mq('>desktop') {
      width: 50%;
    }

  }

  .seperator {
    width: 1px;
    height: $s * 3;
    background-color: rgba($black, 10%);
  }

  .mailto {
    color: $black;
    opacity: 0.75;
    transition: opacity 250ms $easeInOut;

    &:hover {
      opacity: 1;
    }
  }

  @include mq('<desktop') {

    .seperator,
    .mailto,
    .full-logo span {
      display: none;
    }
  }
}