.hero {
  $containerHeight: 100% - 10%;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  background-color: $primary;
  color: $black;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  &__left-container {
    height: $containerHeight;
    margin-left: var(--margin-container-spacing);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;

    .hero-subtitle {
      text-transform: uppercase;
      font-weight: bold;
    }

    h1 {
      font-weight: bold;
      margin-top: $s * 2.5;
    }

    .hero-text {
      margin-top: $s * 5;
      margin-bottom: $s * 5;
    }

    .button {
      display: flex;
      align-items: center;
      color: $primary;
      background-color: $black;
      border-radius: $s * 1.5;
      padding: $s * 2 $s * 4;
      grid-gap: $s * 4;
      margin-top: $s * 5;

      &:hover {
        background-color: $white;
        color: $primary;
      }
    }
  }

  &__right-container {
    height: $containerHeight;
    margin-right: var(--margin-container-spacing);
    background-color: $beige;
    // background: url(assets/img/dog.jpeg) no-repeat center center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;


    .inner-img-bg {
      position: absolute;
      height: 100%;

      width: 70vw;
      object-fit: cover;
    }

    picture {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .inner-img {
      position: absolute;
      height: 100%;
      bottom: 0;
      width: 80%;
      object-fit: contain;
      object-position: bottom;
    }
  }

  &__partners-container {
    grid-column: 1 / 3;
    // height: 100% - $containerHeight;
    max-width: var(--max-width);
    display: flex;
    margin: 0 auto;
    width: 100%;
    gap: 32px;
    padding: $s * 6;
    align-self: flex-end;


    img {
      object-fit: contain;
      max-height: 2.5rem;
    }
  }

  @include mq('<desktop') {
    display: flex;
    flex-direction: column;
    padding-top: $s * 10;

    &__right-container {
      margin-right: $s * 2;
      margin-left: $s * 2;
    }

    &__left-container {
      margin-left: 0;
    }
  }
}