nav {
  flex-grow: 1;

  ul {
    display: none;


    @include mq('>desktop') {
      display: flex;
      align-items: center;
      grid-gap: $s * 6;
      justify-content: center;

      li {
        a {
          color: $green;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  @include mq('>desktop') {
    width: 50%;
  }
}