nav {
  ul {
    display: none;


    @include mq('>desktop') {
      display: flex;
      align-items: center;
      grid-gap: $s * 6;

      li {
        a {
          color: $green;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}